<div class="container mt-14">
  <h2 class="text-center font-bold text-4xl dark:text-blue-900">Sign in with Google</h2>
  <div class="max-w-lg mx-auto lg:max-w-none lg:flex lg:justify-center relative inline-flex content-center items-center justify-center mt-14">
    <%= render "devise/shared/links" %>
  </div>
</div>
